<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('ui/build/styles-es5.js') }}" rel="stylesheet">
</head>
<body>
</app-root>{% block body %}{% endblock %}
<app-root>
    {% block javascripts %}
        <script src="{{ asset('ui/build/runtime-es2015.js') }}" type="module"></script>
        <script src="{{ asset('ui/build/runtime-es5.js') }}" nomodule defer></script>
        <script src="{{ asset('ui/build/polyfills-es5.js') }}" nomodule defer></script>
        <script src="{{ asset('ui/build/polyfills-es2015.js') }}" type="module"></script>
        <script src="{{ asset('ui/build/styles-es2015.js') }}" type="module"></script>
        <script src="{{ asset('ui/build/styles-es5.js') }}" nomodule defer></script>
        <script src="{{ asset('ui/build/vendor-es2015.js') }}" type="module"></script>
        <script src="{{ asset('ui/build/vendor-es5.js') }}" nomodule defer></script>
        <script src="{{ asset('ui/build/main-es2015.js') }}" type="module"></script>
        <script src="{{ asset('ui/build/main-es5.js') }}" nomodule defer></script>
    {% endblock %}
</body>
</html>
